<div id="homeContainer">
  <div class="whiteBorderGlassBox">
    <div class="homeHeadContainer">
      <div class="row">
        <div class="col-md-auto">
          <div class="avatarFrameOnline">
            <img src="/assets/img/generic_avatar.png" alt="" id="homeAvatarPicture">
          </div>
        </div>
        <div class="col">
          <b>Eduardo</b>
          <div>
            <span>Online</span>
            <br />
            <span>
              < Escribe un mensaje personal >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="whiteContainerPadded marto15">
    <div class="row">
      <div class="col">
        <input class="form-control" type="text" name="Buscar amigo" [(ngModel)]="query" />
      </div>
      <div class="col-md-auto">
        <img src="assets/img/logo_live_add.png" alt="" class="icon">
      </div>
    </div>
    <hr>
    <b>Amigos  ({{ friends.length }} / {{ friends.length }}) </b>
    <br>
    <ng-container *ngFor="let user of friends | search: query; let i = index">
      <div>
        <a routerLink="/conversation/{{ user.uid }}" class="disblo marbo5">
          <img id="user-status" src="/assets/img/logo_live_{{ user.status }}.png" alt="">
          <b>{{ user.nick }}</b> - {{ user.subnick || 'No subnick '}}
          <small>{{ user.email }}</small>
        </a>
      </div>
    </ng-container>
    <br>
  </div>

</div>
